

<div class="content">
  <div class="title m-b-md">
    WATER
  </div>
</div>

<!--<ol>
  <% devices.forEach(function(device) { %>
    <li><%= device.name %></li>

      <% for (var key in device.data) { %>
        <% if (device.data.hasOwnProperty(key)) { %>
          <li><%= key %> - <%= device.data[key] %></li>
        <% }; %>
      <% }; %>


  <% }); %>
</ol>-->


